/* use #f0f0f0 and #1f1f1f and #292929*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

/* font-family: 'Source Code Pro', monospace; */

:root {
    /*--background-color: #292929;*/
    /*--black: #1f1f1f;*/
    /*--secondary-color: #FFC66D;*/
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    /*background-color: #292929;*/
    /*padding: 0 50px 50px;*/
    /*color: #f0f0f0;*/
}

* {
    font-family: 'Open Sans', sans-serif;
    /*transition: 0.4s ease-in;*/
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #292929;*/
    padding: 1vh 1vh 1vh;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    padding: 0 20px 0;
}

/* Rounded border */
hr.rounded {
    border-top: 8px solid black;
    /*border-radius: 0;*/
}

#welcome {
    padding: 0 2vh 0;
    text-align: center;
}

#name {
    font-size: 32px;
    /*color: var(--secondary-color);*/
}

body {
    /*display: flex;*/
    justify-content: space-between;
}

#main {
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#banner {
    object-fit: cover;
    width: 100%;
    height: 20vh;
    z-index: 0;
}

a {
    padding: 0;
    font-size: 20px;
    /*color: #f0f0f0;*/
    text-decoration: none;
}

a:hover {
    /*color: var(--secondary-color);*/
    text-decoration: underline;
    transition: 0.4s ease-in;
}







iframe {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-color: #777;
    display: block;
    border-style:none;
}

#msg, #email, #sender {
    width: 50%;
    resize: vertical;
    overflow: auto;
}
